# MATLAB specific
*.asv
*.mex*
*.mex
*.m~
*.slxc
*.slx.autosave
*.slx.r*
*.slx~
*.sldd
*.slddc
*.sldx
*.sldx.autosave
*.sldx~
*.slprj/
*.slx
*.slxc
*.slx.autosave
*.slx.r*
*.slx~
*.sldd
*.slddc
*.sldx
*.sldx.autosave
*.sldx~
*.slprj/

# Ignore data directory
src/data/
how_to/src/ICAsimulated_EEG_freq15Hz_phase0_dip56_32.set

# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 